name: Matrix Demo
on: push
jobs:
  build:
    strategy:
      matrix:
        python-version: [3.10,3.11,3.12]
        operating-system: [ubuntu-latest, windows-latest]

    runs-on: ${{matrix.operating-system}}
    steps:
      - name: Get Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}
          
      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit !='true'
        run: |
          python -m pip install --upgrade pip
          # pip install -r requirements.txt